@import '../../components/variables.scss';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
<<<<<<< 02971620e8a1fc650757ce1ad5de67d72f968d6a
  padding: 0 0 200px;
=======
  padding: 0 0 450px;
>>>>>>> little design of main page
  max-width: $max-content-width;
}

.news {
  padding: 0;
}

.newsItem {
  list-style-type: none;
  padding-bottom: 6px;
}

.newsTitle {
  font-size: 1.125em;
}

.newsTitle, .newsDesc {
  display: block;
}

.link {
  text-decoration: none;
}
