@import '../../components/variables.scss';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
<<<<<<< 240381146371c18d34e2a02de9c6b968adc233d9
<<<<<<< 09ff345ed40aac4f6244c79b5e39e5427685949a
<<<<<<< 02971620e8a1fc650757ce1ad5de67d72f968d6a
  padding: 0 0 200px;
=======
  padding: 0 0 450px;
>>>>>>> little design of main page
=======
  padding: 0 0 200px;
>>>>>>> add background and afjust button
=======
  padding: 0 0 160px;
>>>>>>> adjust main page
  max-width: $max-content-width;
}

.news {
  padding: 0;
}

.newsItem {
  list-style-type: none;
  padding-bottom: 6px;
}

.newsTitle {
  font-size: 1.125em;
}

.newsTitle, .newsDesc {
  display: block;
}

.link {
  text-decoration: none;
}
