/* GuardJobs.scss
** CSS styling for the GuardView page
*/

@import '../../components/variables.scss';

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  padding: 20px 0;
  max-width: $max-content-width;
}

.text {
  color: rgba(255, 255, 255, .5);
}

.textMuted {
  composes: text;
  color: rgba(255, 255, 255, .3);
}

.spacer {
  color: rgba(255, 255, 255, .3);
}

.text,
.link {
  padding: 2px 5px;
  font-size: 1em;
}

.link,
.link:active,
.link:visited {
  color: rgba(255, 255, 255, .6);
  text-decoration: none;
}

.link:hover {
  color: rgba(255, 255, 255, 1);
}
table.guard_jobs_table {
  width: 100%;
}

table.guard_jobs_table th {
  border-bottom: 2px solid black;
  padding-bottom: 10px;
  text-align: left;
}

table.guard_jobs_table td {
  width: (100/x)%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}
