@import '../variables.scss';

$brand-color: #ffffff;

.root {
  margin: 0 auto;
  max-height: 200px;
  background-image: url("./res/textured-red-01-small.png");
}

.container {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 90%;
  max-height: 148px;
  background: linear-gradient(to bottom right, white , #cac6c6);
}

.headerstrip{
  margin-top: 25px;
  height: 25px;
  width: -50%;
  background-color: #3d3935;
  background-image: url("./res/header-strip.png");
  background-repeat: no-repeat;
}

.headerstripBG{
  height: 20px;
  width: 50%;
  color: black;
}

.brand {
  color: color($brand-color lightness(+10%));
  text-decoration: none;
  font-size: 1.75em; /* ~28px */
}

.nav {
  float: right;
  margin-top: 3px;
}

.banner {
  text-align: left;
  margin-left: 99px;
  margin-top: 10px;
}

.bannerTitle {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 1.6em;
  color: black;
  line-height: 1em;
}
