/* Feedback.scss
** CSS styling for the Feedback page
*/

@import '../variables.scss';

.root {
  background: #3d3935;
  color: #9a9a9a;
}

.container {
  margin: 0 auto;
  padding: 20px 8px;
  max-width: inherit;
  text-align: center;
  font-size: 1.5em; /* ~24px */
  position: center;
  left: 367px;
}

.link,
.link:active,
.link:hover,
.link:visited {
  color: #9a9a9a;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.spacer {
  padding-right: 15px;
  padding-left: 15px;
}
